body {
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #ffee93;
}

.red-flags, .green-flags {
  position: absolute;
  top: 0;
  left: 0;
}

.red-flag, .green-flag {
  width: 60px;
  height: 20px;
  background-color: #FF0000;
  clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%);
}

.green-flag {
  background-color: #00FF00;
}


.character, .flag {
  position: relative;
  text-align: center;
}

.character > span, .flag > span {
  position: absolute;
  top: -30px;
  left: 50%; 
  transform: translateX(-50%); 
  background: rgba(138, 91, 145, 0.623);
  padding: 5px; 
  border-radius: 5px; 
}

  
.main-character {
  width: 80px;
  height: 70px;
  background: rgb(75, 7, 131);
  position: absolute;  
  bottom: 70px;  
  left: 800px;
  border-radius: 50%; 
  }


  
  
  