body {
  margin: 20px;
  padding: 0;
  overflow: hidden;
  font-family: Monaco, monospace;
  font-size: x-large;
  background-color: #f6ac69;
}

#start-screen {
  display: block;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  margin: 200px;
}

.game-description {
  margin: 0 400px;
  font-weight: 400;
  text-align: justify;

}

.centered-start-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  background-color: black; 
  color: #fff; 
  font-size: 24px; 
  padding: 20px 40px;
  margin: 50px;
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  
}

#game-screen{
  display: none;
}

#end-screen {
  display: none;
}
.end-screen-text {
  padding: 100px;
}

.red-flags, .green-flags {
  position: absolute;
  top: 0;
  left: 0;
}

.red-flag, .green-flag {
  width: 60px;
  height: 20px;
  background-color: #FF0000;
  clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%);
}

.green-flag {
  background-color: #00FF00;
}


.victim, .flag {
  position: relative;
  text-align: center;
}

.victim > p, .flag > span {
  position: absolute;
  top: -35px;
  left: 50%; 
  transform: translateX(-50%); 
  background: rgba(138, 91, 145, 0.623);
  border-radius: 5px; 
  font-size: medium;
  padding: 2px;
}

  
.main-victim {
  position: absolute;
  bottom: 70px;
  }

.victim-img {
    width: 80px;
  }

.game-over-img{
    width: 500px;
  }