body {
    background-image: url('/images/roadsunset17.svg');
    background-size: cover;
    background-repeat: no-repeat; 
}


.main-character {
    border: 2px solid brown;
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 70px;
    left: 870px;
  }

//create positive chars
//create negative cars